/* 
The Ultimate Responsive Web Design Tutorial for Beginners - Chris Converse

https://www.youtube.com/watch?v=YBK_1WrM294
Coursesa
April 3, 2015
*/


/* Layout for Small Screens (less than 500px width) */

header { 
	height: 75px;
	background: url(../img/img-small.jpg) no-repeat 0px; 
}

header h1 {
	font-weight: normal;
	font-size: 2em; 
	margin: 0 0 .5em 0em;
	padding: 30px;
}


article { padding: 20px 20px 10px 20px; }

nav {
	position: static;
	padding: 10px 0px 10px 0px;
	background-color: #fff;
}

nav a {
	color: #000;
	display: block;
	margin: 15px;
	padding: 9px;
	border: 1px solid #9b9b9b;
}

nav a:hover { color: #000; background-color: #ededed; }

article h2 { line-height: 2.3em; }

.project_container { padding-left: 10px; padding-bottom: 2px; }

.project_container .project {
	width: auto;
	float: none;
	padding-left: 10px;
	background-position: 20px 13px;
	/* border-top: 1px solid #ccc; */
}

.project_container .project .content { padding: 340px 20px 5px 0px; }












